@use "sass:math";
@keyframes progress-bar {
    0% {
        transform: translate(0%,70%);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    

    100% {
        transform: translate(0%);
        opacity: 1;
    }
    
}
@for $i from 0 through 3{
    $delay : 0.30s;
    .delay-#{$i} {
        animation-delay : $delay + math.div($i,5) *1s ;
    }
}
.hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.lds-roller {
    display: inline;
    position: fixed;
    top: 50%;
    left: 46%;  
    width: 80px;
    height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) ;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient($color-secondary, $color-primary);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes fondu {
    0% {
      opacity: .1;
    }
    100% {
        opacity: 1;
    }
  }
  .main{
    animation-name: fondu;
    animation-duration: 1s ;
    animation-delay: 2s;
    
    animation-timing-function: ease-in;
    animation-fill-mode: both;

    .lds-roller div {
        opacity: 0;
    }
}
