*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    box-sizing: border-box;
    background: $color-white;
}

a{
    text-decoration: none;
    color: #000;
}
.flex_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__espaceBetween{
        justify-content: space-between;
    }
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.center{
    text-align: center;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.list-menu{
    display: flex;
}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.arrow{
    position: absolute;
    left: 2rem
    ;
    display: block;
}