*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    box-sizing: border-box;
    background: $color-white;
}

a{
    text-decoration: none;
    color: #000;
}
.flex_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__espaceBetween{
        justify-content: space-between;
    }
}
.flex_column{
    display: flex;
    flex-direction: column;
}

.center{
    text-align: center;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.list-menu{
    display: flex;
}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.arrow{
    position: absolute;
    left: 2rem
    ;
    display: block;
}
.fa_like{
    position: absolute;
    right: 2rem;
    top: 2.4rem
    ;
}
.fa-heart:before {
    content: "\f004";
    font-size: 1.5rem;

}
@keyframes progress-bar {
    0% {
        transform: translate(0%,70%);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    

    100% {
        transform: translate(0%);
        opacity: 1;
    }
    
}
@for $i from 0 through 3{
    $delay : 0.10s;
    .delay-#{$i} {
        animation-delay : $delay + $i/5 *1s ;
    }
}

