@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    color: $color-text;
    font-size: 1rem;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}

span{
    font-size: 1.2rem;
    position: relative;
}



.text-decoration ::after{
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media (min-width: 0px) and (max-width: 788px) {
   
    span {
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
    }

}

