@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    color: $color-text;
    font-size: 1rem;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}


span{
    font-size: 1.2rem;
    position: relative;
}



button {
   
}



