
.local{
    width: 100%;
    background-color: #dddddd;
    padding: 1.2rem;

    &__text{
        font-weight: 700;
    }
  
   
}
.icon_solid_visible{
    visibility: hidden;
}
.icon_regular_visible{
    visibility: visible;
}
.exploration{
    padding: 2rem;
    
    background-color: #fafafa;
    h2,p{
        text-align: center;
    }
    &__sousTitle{
        font-weight: 300;
        margin: 1.5rem 0;
    }
    &__btn{
        @include btn ;        
        @include borderShadow;
        &:hover{
            @include btn_lighten ;    
            @include borderShadow--hover;      
        }
    }
}
.fonctionnement{
    padding: 2rem;
    ol{       
         padding: 2rem 0rem 2rem 0rem;
         list-style-type: none;
         position: relative;
         counter-reset: compteListe;
    }

    li{
        width: 30%;
        background-color: #f6f6f6;
        padding: 1.5rem;
        border-radius: 20px;
        @include borderShadow;
        position: relative;
        &::before{
            counter-increment: compteListe 1;
            content: counter(compteListe) " " ;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-left: -35px;
            width: 1.5rem;
            height: 1.5rem;
            align-items: center;
            border-radius: 100px;
            background-color: $color-primary;
        }

    }
}

.restaurants{
    
    padding: 3rem 2rem;    
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    &__flexBox{
        @extend .flex_column;
        width: 100%;
        margin-bottom: 10%;
        @include borderShadow;        
        border-radius: 1rem 1rem 1rem 1rem;
        @each $img, $imgEach in $image-restaurants {
            &__#{$img}{

                background-image: url($imgEach);
                background-size: cover;
                background-position: center;
                border-radius:  1rem  1rem 0rem 0rem;
                @include img-ratio;
            }
        }  
        &__heading{
            display: block;
            padding: 1.2rem 1rem;
            background-color: white;
            border-radius:  0rem  0rem 1rem 1rem;
            position: relative;
            & >i:hover{
                & .icon_solid_visible{
                    visibility: visible;
                }
                & .icon_regular_visible{
                    visibility: hidden;
                }
            }
        }
        h3 {
            margin-bottom: 0.5%;
        }
    }
  
    & > div{
        width: 48%;
    }
}
.section-restaurant{
    background-color: #f6f6f6;

    & > h2{
        padding: 3rem 2rem 0rem 2rem;
    }
}
.tuto__icon{
    margin-right: 1rem;
    color: #7e7e7e;
}


/* Responsive  Acceuil mobile et Tablette*/

@media (min-width: 768px) and (max-width: 1030px) { 
    
    .fonctionnement{
        li{
           
            width: 100%;
            margin-bottom: 4%;
        }
        ol{
            flex-direction: column;
            margin-bottom: -4%;
        }
    }
}
@media (min-width: 0px) and (max-width: 788px) { 
    
    .fonctionnement{
        li{
           
            width: 100%;
            margin-bottom: 8%;
            
        }
        ol{
            flex-direction: column;
            margin-bottom: -4%;
        }        
    }
    .restaurants{
        flex-direction: column;
        & > div{
            width: 100%;
        }
        &__flexBox{
             @each $img, $imgEach in $image-restaurants {
                &__#{$img}{
                    @include img-ratio__mobile;
                }
            }
         }
    }
    .exploration{
        &__btn{
            @include btn__mobile ;        
            @include borderShadow;  
            &:hover{
                @include btn_lighten ; 
                @include borderShadow--hover;           
            }    
        }
    }
    .tuto__icon{
        margin-right: 1.8rem;
        margin-left: 0.5rem;
        color: #413333;
    }
}

@media screen and (max-width : 358px) {
    .fonctionnement{
        li{ 
            display: flex;           
            > span{
                font-size: 0.8rem;
                text-align:unset;
                
            }
        }
    }
    
}