@import url(../base/base.scss);
@import url(../utils/_mixins.scss);
@import url(../components/buttons.scss);
.local{
    width: 100%;
    background-color: #dddddd;
    padding: 1.2rem;

    &__text{
        font-weight: 700;
    }
   
}
.exploration{
    padding: 2rem;
    
    background-color: #fafafa;
    h2,p{
        text-align: center;
    }
    &__sousTitle{
        font-weight: 300;
        margin: 1.5rem 0;
    }
    &__btn{
        @include btn ;        
        @include borderShadow;
    }
}
.fonctionnement{
    padding: 2rem;
    & > div{        
         padding: 2rem 0rem 2rem 0rem;
    }
}
.choix{
    & > div{
        width: 30%;
        background-color: #f6f6f6;
        padding: 1.5rem;
        border-radius: 20px;
        @include borderShadow;
    }
}
.restaurants{
    
    padding: 4rem 2rem;    
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    &__flexBox{
        @extend .flex_column;
        width: 100%;
        margin-bottom: 10%;
        @include borderShadow;        
        border-radius: 1rem 1rem 1rem 1rem;
        @each $img, $imgEach in $image-restaurants {
            &__#{$img}{

                background-image: url($imgEach);
                background-size: cover;
                background-position: center;
                border-radius:  1rem  1rem 0rem 0rem;
                @include img-ratio
            }
        }  
        &__heading{
            display: block;
            padding: 1.2rem 1rem;
            background-color: white;
            border-radius:  0rem  0rem 1rem 1rem;
        }
        h3 {
            margin-bottom: 0.5%;
        }
    }
  
    & > div{
        width: 48%;
    }
}
.section-restaurant{
    background-color: #f6f6f6;

    & > h2{
        padding: 3rem 2rem 0rem 2rem;
    }
}