

.heroImg{
    min-height: 30rem;
    max-height: 32rem; 
    border: none;
    z-index: -1;
}
.menuHeroImg{
     &__flexBox{
         @each $img, $imgEach in $image-restaurants {
            &__#{$img}{
                background-image: url($imgEach);
                background-size: cover;
                background-position: center;
            }
        }
     }
}
.menu{
    
    margin-top: -4rem;
    background-color: #f6f6f6;
    
    border-radius: 2rem 2rem 0rem 0rem;
}
.list-menu{
    
    @extend .flex_row;
    flex-wrap: wrap;    
    justify-content: space-around;
    &__heading{
        padding:  1.1rem 1rem;
        font-size: 1.5rem;
        display:inline-block;
        width: 100%;
    }
    &__flex{
   
        position: relative;
        padding: 2rem  0rem;
        width: 30%;
        
        & > div{
            cursor: pointer;
            padding: 1.1rem 1rem;
            margin-top: 5%;
            border-radius: 10px;
            background-color: white;            
             @include borderShadow;

        }
        h3{

            &::after{
                display: flex;
                flex-direction: column;
                margin-top: 1%;
                content: "";
                width: 3rem;
                height: .25rem;
                background-color: $color-accent;
              
            }
           
        }
    }
    
}

.btn__commander{
    
    @include btn ;        
    @include borderShadow;
    margin: 2rem 0rem 4rem 0rem;
}

/* Responsive  Acceuil mobile et Tablette*/

@media  (max-width: 1030px) { 
    
    .list-menu{
        flex-direction: column;
        padding: 0px 30px;

        &__heading{
            padding: 1.1rem 0rem;
        }
        &__flex{
            width: 100%;
        }
    }
    .heroImg{
        min-height: 20rem;

    }
    .btn__commander{
        font-size: 1rem;
    }

}
@media (min-width: 0px) and (max-width: 788px) { 

}