

.heroImg{
    min-height: 30rem;
    max-height: 32rem; 
    border: none;
    z-index: -1;
}
.menuHeroImg{
     &__flexBox{
         @each $img, $imgEach in $image-restaurants {
            &__#{$img}{
                background-image: url($imgEach);
                background-size: cover;
                background-position: center;
            }
        }
     }
}
.menu{
    
    margin-top: -4rem;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0rem 0rem;

    &_titre{
        align-items: center;
        padding: 1rem 1rem;
    }
}
.list-menu{
    
    @extend .flex_row;
    flex-wrap: wrap;    
    justify-content: space-around;
    position: relative;
    
  
    &__heading{
        padding:  1.1rem 1rem;
        font-size: 1.5rem;
        display:inline-block;
        width: 100%;
    }
    &__flex{
   
        position: relative;
        padding: 1.1rem  0rem;
        width: 30%;
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            overflow: hidden;
            margin-top: 5%;
            border-radius: 10px;
            background-color: white;            
             @include borderShadow;
             
        animation: 350ms ease-in-out;
            
            &:hover >.icon_confirmation {
                height: 1.6rem;   
                width: 4rem;
                padding: 2.5rem 1.8rem;
                justify-content: center;
                border-radius: 0 10px 10px 0;
                .icon_confirmation__check { 
                    @include icon_animation_fin;
                }
            }
            &  h4, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis
            
            }

        }

        &_elemts{

             flex :1;
             padding: 1.1rem  1rem;
             white-space: nowrap;         
             overflow: hidden;
    
        }
        h3{

            &::after{
                display: flex;
                flex-direction: column;
                margin-top: 1%;
                content: "";
                width: 3rem;
                height: .25rem;
                background-color: $color-accent;
              
            }
           
        }
    }
    
}
.icon_confirmation{ 
    height: 1.6rem;   
    background-color: #99e2d0;
    padding: 2.5rem 0rem;
    width: 0rem;
    display: flex;
    overflow: hidden;
    align-items: center;    
    transition: all 0.5s;
    &__check {
        @include icon_animation_debut;        
    }
}
.price{
    align-self: flex-end; display: block; padding: 1.4rem 1rem;
}
.fa-check-circle:before {
    content: "\f058";
    font-size: 1.8rem;
}

.btn__commander{
    
    @include btn ;        
    @include borderShadow;
    margin: 2rem 0rem 4rem 0rem;
    &:hover{
        @include btn_lighten ;             
        @include borderShadow--hover;              
    }
}



/* Responsive  Acceuil mobile et Tablette*/

@media  (max-width: 1030px) { 
    
    .list-menu{
        flex-direction: column;
        padding: 0rem 1rem;

        &__heading{
            padding: 1.1rem 0rem;
        }
        &__flex{
            width: 100%;
        }
    }

    .btn__commander{
        font-size: 1rem;
        &:hover{
            @include btn_lighten ;
                
            @include borderShadow--hover;               
        }
    }

}
@media (min-width: 0px) and (max-width: 488px) { 
    .heroImg{
        min-height: 20rem;

    }
}