@mixin borderShadow {

    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    
}
@mixin borderShadow--hover {

    box-shadow: 1px 2px 10px 1px rgb(36 36 36 /38%);
    
}

@mixin img-ratio {
    overflow: hidden;
    position: relative;
    object-fit: cover;
    display: block;
    height: 12rem;
    width: 100%;   
}
@mixin img-ratio__mobile {
   
    height: 12.5rem;
    
}
@mixin btn {
    border: none;
    padding: 0.75rem 2.0rem;
    font-weight: 300;
    border-radius: 100px;
    font-size: 1.2rem;
    cursor: pointer;
    
    background: linear-gradient($color-secondary, $color-primary);
 
}
@mixin btn__mobile {
    border: none;
    padding: 0.75rem 2.0rem;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9rem;
    
}

@mixin btn_lighten {
    background:  linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
}

@mixin icon_animation_debut {    
    border-radius: 100px;
    color: #99e2d0;
    background: white;
    transform: rotate(180deg);    
    transition: transform .5s;
}
@mixin icon_animation_fin {
    height: 1.8rem;
    width: 1.8rem;    
    font-size: 1.2rem;
    transform: rotate(0deg);
    transition: transform .5s;
}

