$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-accent: #99E2D0;
$color-white: #fff;
$color-invalid: #DB464B;
$color-text : black;
$image-restaurants : (
    img1 :  "/restaurants_images/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
    img2 :  "/restaurants_images/stil-u2Lp8tXIcjw-unsplash.jpg",
    img3 :  "/restaurants_images/toa-heftiba-DQKerTsQwi0-unsplash.jpg",
    img4 :  "/restaurants_images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",

)